DATABASE_URL="postgresql://postgres:postgres@localhost:5460/nestdb?schema=public"
REDIS_URL="redis://localhost:6399"
JWT_ACCESS_SECRET="access-token"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="refresh-token"
JWT_REFRESH_EXPIRES_IN="7d"
